*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  color  */
body {
  background-color: white;
}

@font-face {
  font-family: "font1";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
body {
  font-family: "font1", sans-serif, sans-serif;
}

li {
  list-style: none;
}

header {
  position: relative;
  font-family: "font1", sans-serif;
  text-transform: uppercase;
  background-color: black;
  color: white;
  width: 100vw;
  display: grid;
  grid-template-columns: 22.5% 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "logo contact" "logo menu";
}
@media screen and (max-width: 1022px) {
  header {
    grid-template-columns: 20% 80%;
    grid-template-areas: "contact contact" "logo menu";
  }
}
@media screen and (max-width: 700px) {
  header {
    grid-template-columns: 50% 50%;
  }
}
header .contact {
  padding: 5px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: contact;
  justify-content: end;
  gap: 50px;
}
@media screen and (max-width: 1022px) {
  header .contact {
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  header .contact {
    justify-content: space-between;
  }
}
header .contact .contactEcole {
  font-size: 12px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 700px) {
  header .contact .contactEcole {
    font-size: 10px;
  }
}
header .contact .logosRS {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 700px) {
  header .contact .logosRS {
    font-size: 12px;
  }
}
header .logo {
  grid-area: logo;
  padding: 10px;
}
header .logo img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .menu {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  grid-area: menu;
}
header .menu nav {
  width: 100%;
  height: 100%;
  padding: 0px 50px;
  background-color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;
}
header .menu nav .menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
header .menu nav .menuContainer .arrowDown::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  height: 0;
  width: 0;
  border-top: 8px solid rgb(255, 255, 255);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .arrowDown::after {
    margin-right: 20px;
    content: "";
    position: absolute;
    z-index: 0;
    top: 15px;
    right: 0;
    margin-left: 10px;
    height: 0;
    width: 0;
    border-top: 8px solid rgb(255, 255, 255);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .arrowUp::after {
    margin-right: 20px;
    content: "";
    position: absolute;
    z-index: 0;
    top: 15px;
    right: 0;
    margin-left: 30px;
    height: 0;
    width: 0;
    border-bottom: 8px solid rgb(255, 255, 255);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}
header .menu nav .menuContainer .menuRow span {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}
header .menu nav .menuContainer .menuRow:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  header .menu nav .menuContainer .menuRow:hover .sousMenuContainer {
    transform: translateY(0);
    visibility: visible;
    opacity: 0.98;
  }
}
header .menu nav .menuContainer .menuRow .sousMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8%;
       column-gap: 8%;
  position: absolute;
  left: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(14, 14, 14);
  width: 100vw;
  padding: 50px;
  transform: translateY(10px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .menuRow .sousMenuContainer {
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    padding: 20px;
    position: inherit;
    width: 100%;
    transform: translateY(0);
    display: none;
  }
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu {
  width: 25%;
  align-self: start;
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn {
  flex-direction: column;
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li {
  padding: 0 30px;
  width: 100%;
  font-weight: 700;
  line-height: 50px;
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li:hover {
  cursor: pointer;
  color: rgb(129, 138, 145);
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li.btn {
  border: 1px solid rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li h1 {
  font-weight: 900;
  font-size: 18px;
  border-bottom: 2px solid #E8348C;
}
header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenu .sousMenuColumn li h1:hover {
  cursor: default;
  color: rgb(14, 14, 14);
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .menuRow .sousMenuContainer .sousMenuVide {
    display: none;
  }
}
header .menu nav .menuContainer .menuRow .activeSousMenuMobile {
  display: flex;
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer .menuRow {
    width: 100%;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainer {
    position: absolute;
    background-color: rgb(14, 14, 14);
    width: 100%;
    left: 0px;
    top: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  header .menu nav .menuContainerMobileHidden {
    display: none;
  }
}
header .menu nav .menuBurger {
  position: relative;
  width: 25px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .menu nav .menuBurger .bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
}
header .menu nav .menuBurger .bar::after, header .menu nav .menuBurger .bar::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
}
header .menu nav .menuBurger .bar::before {
  transform: translateY(-7px);
}
header .menu nav .menuBurger .bar::after {
  transform: translateY(7px);
}
@media screen and (min-width: 768px) {
  header .menu nav .menuBurger {
    display: none;
  }
}
header .menu nav .aciveMenuBurger .bar {
  background-color: transparent;
  transition: background-color 0.5s ease-in;
}
@keyframes activeBefore {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes activeAfter {
  0% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: rotate(-45deg);
  }
}
header .menu nav .aciveMenuBurger .bar::after {
  border: none;
  animation-name: activeAfter;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
header .menu nav .aciveMenuBurger .bar::before {
  border: none;
  animation-name: activeBefore;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
header .menu nav .disableMenuBurger .bar {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease-in;
}
@keyframes disableBefore {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-7px);
  }
}
@keyframes disableAfter {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(7px);
  }
}
header .menu nav .disableMenuBurger .bar::after {
  animation-name: disableAfter;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
header .menu nav .disableMenuBurger .bar::before {
  animation-name: disableBefore;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 65px;
}
main .banner {
  width: 100vw;
  height: 500px;
  background-color: bisque;
}
main section {
  min-width: 1140px;
}
main .black {
  border: solid 1px black;
  height: 530px;
}
main .white {
  border: solid 1px black;
  background-color: beige;
  height: 530px;
}
main .partenaires {
  margin-bottom: 65px;
  width: 100vw;
  height: 530px;
  background-color: cornflowerblue;
  border: solid black 1px;
  display: flex;
}
main .partenaires .leftpart {
  width: 30%;
  border: solid 1px black;
}
main .partenaires .rigntpart {
  width: 70%;
  border: solid 1px black;
}

footer {
  width: 100vw;
  height: 500px;
  background-color: black;
}/*# sourceMappingURL=index.css.map */