*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

@font-face {
  font-family: "font1";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}
body {
  font-family: "font1", sans-serif, sans-serif;
}

li {
  list-style: none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: center;
  font-weight: 500;
  flex-wrap: wrap;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
nav ul li {
  gap: 20px;
  line-height: 40px;
}
nav ul li i {
  margin-left: 10px;
  font-size: 12px;
}
@media screen and (max-width: 700px) {
  nav ul {
    width: 100vw;
    background-color: black;
    border: solid 3px seagreen;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
  }
  nav ul li {
    border: solid 1px white;
    padding-left: 10px;
  }
  nav ul i {
    border: solid 1px white;
    position: absolute;
    right: 15px;
  }
}
@media screen and (max-width: 700px) {
  nav {
    padding-right: 10px;
    align-items: center;
    justify-content: end;
  }
}
nav .menuBurger {
  height: 40px;
  width: 50px;
  background-color: black;
  border: none;
  position: relative;
}
nav .menuBurger .bar {
  display: block;
  height: 5px;
  width: 40px;
  border-radius: 5px;
  background-color: white;
}
nav .menuBurger .bar::after, nav .menuBurger .bar::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  left: 0;
  height: 5px;
  width: 40px;
  background-color: white;
}
nav .menuBurger .bar::after {
  transform: translateY(-7px);
}
nav .menuBurger .bar::before {
  transform: translateY(7px);
}
@media screen and (min-width: 700px) {
  nav .menuBurger {
    display: none;
  }
}

header {
  position: relative;
  font-family: "font1", sans-serif;
  text-transform: uppercase;
  background-color: black;
  color: white;
  width: 100vw;
  display: grid;
  grid-template-columns: 22.5% 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "logo contact" "logo menu";
}
@media screen and (max-width: 1022px) {
  header {
    grid-template-columns: 20% 80%;
    grid-template-areas: "contact contact" "logo menu";
  }
}
@media screen and (max-width: 700px) {
  header {
    grid-template-columns: 50% 50%;
  }
}
header .contact {
  padding: 5px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: contact;
  justify-content: end;
  gap: 50px;
}
@media screen and (max-width: 1022px) {
  header .contact {
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  header .contact {
    justify-content: space-between;
  }
}
header .contact .contactEcole {
  font-size: 12px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 700px) {
  header .contact .contactEcole {
    font-size: 10px;
  }
}
header .contact .logosRS {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 700px) {
  header .contact .logosRS {
    font-size: 12px;
  }
}
header .logo {
  grid-area: logo;
  padding: 10px;
}
header .logo img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .menu {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  grid-area: menu;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 65px;
}
main .banner {
  width: 100vw;
  height: 500px;
  background-color: bisque;
}
main section {
  min-width: 1140px;
}
main .black {
  border: solid 1px black;
  height: 530px;
}
main .white {
  border: solid 1px black;
  background-color: beige;
  height: 530px;
}
main .partenaires {
  margin-bottom: 65px;
  width: 100vw;
  height: 530px;
  background-color: cornflowerblue;
  border: solid black 1px;
  display: flex;
}
main .partenaires .leftpart {
  width: 30%;
  border: solid 1px black;
}
main .partenaires .rigntpart {
  width: 70%;
  border: solid 1px black;
}

footer {
  width: 100vw;
  height: 500px;
  background-color: black;
}/*# sourceMappingURL=index.css.map */